@font-face {
    font-family: "branding";
    src : url("fonts/branding-semibold.woff2");
}
@font-face {
    font-family: "branding-bold";
    src : url("fonts/branding-bold.woff2");
}
@font-face {
    font-family: "branding-medium";
    src : url("fonts/branding-medium.woff2");
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

html, body {
    margin : 0;
    padding : 0;
    height : 100%;
    font-family: "branding-medium",sans-serif,Helvetica Neue,Helvetica,Roboto,Open Sans,FreeSans;
    font-size: 16px;
    scroll-behavior: smooth;
    word-break: break-word;
}

h1, h2, h3 {
    font-family: branding-bold;
    font-weight: 700;
    color : #041264;
    font-weight : bold;
}

h1 {
    font-size : 48px;
    line-height: 54px;
}

h2 {
    font-size : 28px;
    line-height: 32px;
}

h3 {
    font-size : 24px;
    line-height: 34px;
}

p {
    font-size : 20px;
    font-weight: 400;
    line-height: 36px;
    color : #3d4a70
}

.sh-container {
    width: 1280px;
    margin : 0 auto;
    position: relative;
}

.sh-container-fluid {
    width: 100%;
    margin : 0 auto;
    position: relative;
}

.sh-header {
    display : flex;
    width : 100%;
    min-height: 320px;
    padding-bottom : 80px;
}

.sh-header-home {
    padding : 0 3rem;
    flex-basis: 40%;
}

.sh-header-credit {
    flex-basis: 70%;
    padding-right: 25px;
}

.sh-header-home img {
    width : 390px;
    max-width: 100%;
}

.sh-header p {
    font-weight: bold;
    font-family: "branding-medium";
    line-height: 25px;
}

.sh-header-credit h1 {
    margin-top: 45px;
}

.bg-color {
    background-color: #f6f7fe;
    padding-top : 60px;
}

.sh-body-sidebar {
    background-color: #5366ea;
    padding-top : 60px;
    height: fit-content;
}

.sidebarActive a {
    font-weight: bold !important;
    font-family: "branding-bold" !important;
}

.bg-blue {
    background: linear-gradient(to right, #5366ea, #5366ea 36.33%, white 36.33%, white 64.66%);
}

@media (min-width: 1366px) {
    .hero-module--background--7gWYK {
        height: 500px;
        position: absolute;
        right: 235px;
        top: -250px;
        -webkit-transform: rotate(45deg) skew(-5deg,-5deg);
        transform: rotate(45deg) skew(-5deg,-5deg);
        width: 500px;
        z-index: -1;
    }
}

@media (min-width: 1366px) {
    .hero-module--background--7gWYK>div {
        background: #b3bcf1;
        border-radius: 50px;
        height: 100%;
        opacity: .1;
        position: absolute;
        width: 100%;
    }
}


@media (min-width: 1366px) {
    .hero-module--background--7gWYK>div:last-child {
        height: 70%;
        left: 15%;
        opacity: .08;
        top: 15%;
        width: 70%;
    }
}

@media (min-width: 1366px) {
    .hero-module--background--7gWYK>div {
        background: #b3bcf1;
        border-radius: 50px;
        height: 100%;
        opacity: .1;
        position: absolute;
        width: 100%;
    }    
}

/* comparison part start here */

.sh-comparison-body {
    display: flex;
    width: 100%;
}

.sh-calculator {
    background-color: #fff;
    padding : 20px;
    border-radius: 25px;
    flex-basis : 35%;
    flex-shrink: 0;
    height : fit-content;
    position: sticky;
    top : 0;
    margin-bottom: 50px;
}

.sh-calculator-header {
    display: flex;
    justify-content: space-between;
}

.sh-calculator-header span {
    font-size : 20px; 
    line-height: 23px;
    color : #182678;
    font-weight: bold;
    font-family: "branding-bold";
}

.sh-calculator-header span:last-child {
    color : #5367ea;
}

.sh-calculator-footer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.sh-calculator div:last-child .sh-calculator-footer {
    margin-bottom: 0;
}

.sh-calculator-footer span {
    font-size : 16px;
    line-height: 18px;
    color : #182678;
    font-weight: bold;
    font-family: "branding-bold";
}

.sh-calculator-footer span:last-child {
    color : #636aa2;
}

.sh-calculator .form-group {
    display: block;
}

.sh-calculator .form-group label {
    font-size : 20px; 
    line-height: 23px;
    font-weight: 700;
    font-family: "branding-bold";
    color : #182678;
}

.sh-calculator .form-group label span {
    float : right;
    color : #5367ea;
}

.sh-calculator.show-calculator {
    position: fixed;
    z-index: 99;
    height: auto;
    overflow: auto;
    bottom: 0;
    left: 0;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999999999;
    display: block;
    margin: 0;
    border-radius: 0;
}

.show-filter {
    display : none;
}

.sh-credit-wrapper {
    flex-basis: 65%;
    border-radius: 15px;
    margin-left: 32px;
    padding: 0 30px 30px;
}

.sh-service-comparison {
    background-color: #fff;
    padding: 25px;
    border-radius: 32px;
    position: relative;
    z-index: 1;
    -webkit-box-shadow: 0 40px 27px -32px rgb(98 114 219 / 40%);
    box-shadow: 0 40px 27px -32px rgb(98 114 219 / 40%);
    margin-bottom: 25px;
}

.sh-service-header {
    display: flex;
    width: 100%;
}

.sh-service-logo {
    flex-basis: 20%;
}


.sh-service-header h3 {
    flex-basis: 30%;
}

.sh-service-btn {
    flex-basis: 50%;
    text-align: right;
}

.sh-service-logo img {
    width : 100px;
}

.sh-service-btn a {
    background-color: #18aa70;
    border-radius: 4rem;
    color: #fff;
    font-size: 1.17rem;
    letter-spacing: .3px;
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    width : 204px;
    display : inline-block;
    text-align: center;
}

.sh-service-body {
    display: flex;
    background-color: #f6f7fe;
    border-radius: 32px;
    width : 100%;
    justify-content: space-between;
    padding: 0 20px 30px 20px;
}

.sh-body-wrapper {
    display : flex;
}

.sh-service-body p, span {
    font-size : 16px;
    line-height: 18px;
}

.sh-service-body p {
    color : #3d4a70;
    font-weight: 500;
}

.sh-service-body span {
    color : #4356d6;
    font-weight: 700;
    font-family: "branding-bold";
}

.sh-see-more {
    font-size : 16px;
    line-height: 24px;
    font-weight: 600;
    color : #5367ea;
    text-align: center;
    margin: 25px auto 0 auto;
    position: relative;
    width : fit-content;
}

.sh-see-more-details {
    background-color: #f6f7fe;
    padding: 20px;
    margin-top: 25px;
    border-radius: 32px;
}

.sh-see-more-details p {
    font-size : 16px;
    line-height: 19px;
}

.sh-see-more-details p:first-child {
    font-weight: bold;
    font-family: "branding-bold";
    color : #5367ea;
}

.sh-see-more-details a {
    font-size : 16px;
    line-height: 18px;
    color : #5367ea;
    text-decoration: none;
}

.sh-see-more-details + .sh-see-more > .arrow {
    box-sizing: border-box;
    height: 12px;
    width: 12px;
    border-style: solid;
    border-color: #18aa70;
    border-width: 0px 3px 3px 0px;
    transform: rotate(225deg);
    transition: border-width 150ms ease-in-out;
    position: absolute;
    top: 5px;
    right: -34px;
}

.sh-see-more-details.is-active + .sh-see-more .arrow {
    box-sizing: border-box;
    height: 12px;
    width: 12px;
    border-style: solid;
    border-color: #18aa70;
    border-width: 0px 3px 3px 0px;
    transform: rotate(45deg);
    transition: border-width 150ms ease-in-out;
    position: absolute;
    top: 0px;
    right: -34px;
}

.is-active, .faq-active {
    display : none;
}

.sh-body-sidebar:before {
    position: absolute;
    top: 0;
    left: -100%;
    background: #5266ea;
    content: "";
    width: 100%;
    height: 100%;
}

.sh-body-sidebar h2 {
    font-size : 40px; 
    line-height: 46px;
    color : #fff;
    font-weight: 700;
    font-family: "branding-bold";
}

.sh-body-sidebar ul{
    padding : 0;
    margin : 0;
}

.sh-body-sidebar ul li{
    list-style: none;
    margin-bottom: 25px;
    position: relative;
    padding-right: 40px;
}

.sh-body-sidebar ul li a {
    font-size : 22px; 
    line-height: 28px;
    color : #fff;
    font-weight: 400;
    font-family: "branding-medium";
    text-decoration: none;
}

.sh-body-sidebar {
    flex-basis: 36%;
    padding-right: 75px;
    position: relative;
    padding-bottom: 50px;
    position: sticky;
    top: 0;
}

.sh-body-sidebar ul li:after {
    position: absolute;
    top: 50%;
    right: 0;
    content: '';
    box-sizing: border-box;
    height: 20px;
    width: 20px;
    border-style: solid;
    border-color: #ffffff;
    border-width: 0px 3px 3px 0px;
    transform: rotate(312deg);
    transition: border-width 150ms ease-in-out;
}

.sh-body-container {
    flex-basis: 66%;
    padding : 75px 0 75px 75px;
    position: relative;
}

.sh-body-container ul, ol {
    padding : 0;
    margin-left : 15px;
    
}

.sh-body-container ul li {
    font-size : 16px;
    line-height: 20px;
    color : #3d4a70;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    margin-bottom: 10px;
    list-style-type: none;
    position: relative;
}

.sh-body-container ol li {
    font-size : 16px;
    line-height: 20px;
    color : #3d4a70;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    margin-bottom: 10px;
    position: relative;
    padding-left: 15px;
}

.sh-body-container ul li::before {
    content: "";
    position: absolute;
    left: -20px;
    top: 7px;
    background: #b9c0d6;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
}

.sh-body-container ol li::before {
    content: "";
    position: absolute;
    left: -26px;
    top: -1px;
    background: #b9c0d6;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    z-index: -1;
}

.sh-faq {
    width : 768px;
    margin : 50px auto;
}

.sh-faq h2 {
    font-size : 38px; 
    line-height: 43px;
    color : #041264;
    font-weight: 700;
}

.sh-faq-question {
    background-color: #fff;
    border-radius: 32px;
    box-shadow: 0 4px 32px 0 rgb(98 114 219 / 20%);
    padding : 35px;
    margin-bottom: 35px;
    position: relative;
}

.sh-faq-question > p {
    font-size : 18px; 
    line-height: 27px;
    color : #5367ea;
    font-family: "branding-bold";
}

.sh-faq-question > p a {
    float: right;
    font-size: 39px;
    font-family: "branding-medium";
    color : #586bea;
}

@media (max-width: 540px) { 
    .sh-service-body {
        flex-direction: column;
        text-align: center;
    }
}


@media (max-width: 720px) { 
    .sh-service-header {
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;;
    }
}

@media (max-width: 960px) {

    .sh-container {
        width : 100%;
    }

    .sh-credit-wrapper {
        padding-left: 0;
    }

    .sh-header {
        display : block;
        text-align: center;
        padding-left : 20px;
        padding-right : 20px;
    }

    .sh-comparison-body {
        flex-direction: column;
    }

    .sh-body-wrapper {
        flex-direction: column;
    }

    .sh-body-container {
        padding : 25px;
    }

    .sh-faq {
        width: 100%;
        padding : 25px;
    }

    .sh-body-sidebar {
        position: relative;
    }

    .sh-calculator {
        display: none;
    }

    .sh-mobile-calculator-icon {
        position: fixed;
        left: 0;
        top: 50%;
        background-color: #586bea;
        display: flex;
        justify-content: center;
        width: 58px;
        height: 58px;
        z-index: 99;
        align-items: center;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
    }

    .show-filter a {
        float: right;
        font-size: 30px;
        color: #5367ea;
        background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4KICA8ZyBmaWxsPSIjNTg2QkVBIj4KICAgIDxwYXRoIGQ9Ik0xMi4zNzMgOS41NDVsNC45NS00Ljk1YTIgMiAwIDExMi44MjggMi44MjhsLTQuOTUgNC45NSA0Ljk1IDQuOTVhMiAyIDAgMTEtMi44MjggMi44MjhsLTQuOTUtNC45NS00Ljk1IDQuOTVhMiAyIDAgMTEtMi44MjgtMi44MjhsNC45NS00Ljk1LTQuOTUtNC45NWEyIDIgMCAxMTIuODI4LTIuODI4bDQuOTUgNC45NXoiLz4KICAgIDxwYXRoIGQ9Ik0xMi4zNzMgOS41NDVsNC45NS00Ljk1YTIgMiAwIDExMi44MjggMi44MjhsLTQuOTUgNC45NSA0Ljk1IDQuOTVhMiAyIDAgMTEtMi44MjggMi44MjhsLTQuOTUtNC45NS00Ljk1IDQuOTVhMiAyIDAgMTEtMi44MjgtMi44MjhsNC45NS00Ljk1LTQuOTUtNC45NWEyIDIgMCAxMTIuODI4LTIuODI4bDQuOTUgNC45NXoiLz4KICA8L2c+Cjwvc3ZnPgo=) no-repeat;
    height: 24px;
    width: 24px;
    }
}

@media (max-width : 1140px) {
    .sh-body-sidebar {
        padding-left : 25px
    }

    .sh-container {
        width : 100%;
    }
}


@media (max-width : 1300px) {
    .sh-body-sidebar {
        padding-left : 25px
    }
}

.slider-module--container{
    display:block;
    overflow:hidden;
    position:relative
}
.slider-module--progress-container{
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden;
    border-radius:8px;
    left:0;
    overflow:hidden;
    position:absolute;
    right:0;
    top:22px;
    -webkit-transform:translateZ(0);
    transform:translateZ(0);
    width:calc(100% - 5px)
}
.slider-module--progress-container .slider-module--progress{
    background-color:#5367ea;
    height:5px;
    -webkit-transform:translate3d(-100%,0,0);
    transform:translate3d(-100%,0,0);
    width:100%;
    will-change:transform
}
.slider-module--slider[type=range]{
    -moz-appearance:none;
    appearance:none;
    -webkit-appearance:none;
    background:transparent;
    height:32px;
    outline:none;
    padding:1.5rem .25rem 1.5rem 0;
    position:relative;
    width:100%
}
.slider-module--slider[type=range]::-moz-focus-outer{
    border:0
}
.slider-module--slider[type=range]:focus{
    outline:0
}
.slider-module--slider[type=range]:focus::-webkit-slider-runnable-track{
    background:transparent
}
.slider-module--slider[type=range]:focus::-ms-fill-lower,.slider-module--slider[type=range]:focus::-ms-fill-upper{
    background:transparent
}
.slider-module--slider[type=range]::-webkit-slider-runnable-track{
    background:transparent;
    border-bottom:3px dotted rgba(83,103,234,.5);
    cursor:default;
    height:3px;
    -webkit-transition:all .2s ease;
    transition:all .2s ease;
    width:100%
}
.slider-module--slider[type=range]::-webkit-slider-thumb{
    -webkit-appearance:none;
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden;
    background:url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 32'%3E%3Crect x='0' y='0' width='48' height='32' fill='%23fff' rx='16'/%3E%3Ccircle fill='%23586bea' r='8' cx='32' cy='16'/%3E%3C/svg%3E%0A")!important;
    border:none;
    border-radius:16px;
    -webkit-box-shadow:2px 3px 4px rgba(98,114,219,.42);
    box-shadow:2px 3px 4px rgba(98,114,219,.42);
    cursor:pointer;
    height:32px;
    margin-top:-16.5px;
    width:48px
}
.slider-module--slider[type=range]::-moz-range-track{
    background:transparent;
    border-bottom:3px dotted rgba(83,103,234,.5);
    cursor:default;
    height:3px;
    height:0;
    -moz-transition:all .2s ease;
    transition:all .2s ease;
    width:100%
}
.slider-module--slider[type=range]::-moz-range-thumb{
    backface-visibility:hidden;
    background:url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 32'%3E%3Crect x='0' y='0' width='48' height='32' fill='%23fff' rx='16'/%3E%3Ccircle fill='%23586bea' r='8' cx='32' cy='16'/%3E%3C/svg%3E%0A")!important;
    border:none;
    border-radius:16px;
    box-shadow:2px 3px 4px rgba(98,114,219,.42);
    cursor:pointer;
    height:32px;
    width:48px
}
.slider-module--slider[type=range]::-ms-track{
    background:transparent;
    border-color:transparent transparent rgba(83,103,234,.5);
    border-bottom:16px dotted transparent;
    border-left-width:0;
    border-right-width:0;
    border-top-width:16px;
    color:transparent;
    cursor:default;
    height:3px;
    -ms-transition:all .2s ease;
    transition:all .2s ease;
    width:100%
}
.slider-module--slider[type=range]::-ms-fill-lower,.slider-module--slider[type=range]::-ms-fill-upper{
    background:transparent;
    border-top:3px dotted rgba(83,103,234,.5)
}
.slider-module--slider[type=range]::-ms-thumb{
    backface-visibility:hidden;
    background:url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 32'%3E%3Crect x='0' y='0' width='48' height='32' fill='%23fff' rx='16'/%3E%3Ccircle fill='%23586bea' r='8' cx='32' cy='16'/%3E%3C/svg%3E%0A")!important;
    border:none;
    border-radius:16px;
    box-shadow:2px 3px 4px rgba(98,114,219,.42);
    cursor:pointer;
    height:32px;
    margin-top:.75px;
    width:48px
}
.slider-module--slider[type=range]:disabled::-moz-range-thumb,.slider-module--slider[type=range]:disabled::-ms-fill-lower,.slider-module--slider[type=range]:disabled::-ms-fill-upper,.slider-module--slider[type=range]:disabled::-ms-thumb,.slider-module--slider[type=range]:disabled::-webkit-slider-runnable-track,.slider-module--slider[type=range]:disabled::-webkit-slider-thumb{
    cursor:not-allowed
}

.service-comparison-component-module--filter-button-icon {
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNiIgaGVpZ2h0PSIyNiIgdmlld0JveD0iMCAwIDI2IDI2Ij4KICA8cGF0aCBmaWxsPSJub25lIiBzdHJva2U9IiNGRkYiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIyIiBkPSJNMSAxbDEwLjQzNSAxMi42MTZWMjVsMy4xMy0zLjEzdi04LjI1NEwyNSAxeiIvPgo8L3N2Zz4K) no-repeat;
    height: 24px;
    width: 24px;
}